<ion-view view-title="Aggiungi giocatore">

	<ion-nav-bar class="bar-stable">
		<ion-nav-back-button>
		</ion-nav-back-button>

		<ion-nav-buttons side="left">
			<button class="button button--back" menu-toggle="left">
			</button>
		</ion-nav-buttons>

		<ion-nav-buttons side="right">
			<button class="button button--filtra" ng-click="openModalFiltri()">
			</button>
		</ion-nav-buttons>

	</ion-nav-bar>

	<ion-content ng-init="aggiungiGiocatoreInit()" delegate-handle="contentScroll" >
		<div class="item item--rosa-elenco" ng-click="selectGiocatore(giocatore)" 
			ng-repeat="giocatore in vm.giocatoriDisponibili track by $index">
			<div class="row">
				<div class="col-75">
					<div>
						{{::giocatore.COGNOME + ' ' + giocatore.NOME}} <span class="text-secondary"> - {{::giocatore.SQUADRA}}</span>
					</div>
					<div>
						COSTO: <span class="text-secondary">{{::giocatore.VALORE_ATTUALE}}</span>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>

<script id="filtroModal.html" type="text/ng-template">
	<ion-modal-view class="view--rosa-filtri">
		<ion-header-bar>
			<button class="button button-icon ion-close" ng-click="annullaModalFiltri()"></button>
			<h2 class="title">Filtri</h2>
			<button class="button button-icon ion-checkmark" ng-click="confermaModalFiltri()"></button>
		</ion-header-bar>
		<ion-content>
			<div class="card">
				<div class="item item-text-wrap">
					<strong>Ordina i giocatori per:</strong>
					<div class="list">
						<label class="item item-radio item--rosa-filtri-destra">
							<input type="radio" name="ordinaPer" ng-value="true" ng-model="filter.ordinaPerNome">
							<div class="item-content">
								Nome
							</div>
							<!--<i class="radio-icon ion-checkmark"></i>-->
						</label>
						<label class="item item-radio item--rosa-filtri-sinistra">
							<input type="radio" name="ordinaPer" ng-value="false" ng-model="filter.ordinaPerNome">
							<div class="item-content">
								Costo
							</div>
							<!--<i class="radio-icon ion-checkmark"></i>-->
						</label>
					</div>
					<div class="list">
						<label class="item item-radio item--rosa-filtri-destra">
							<input type="radio" name="crescenza" ng-value="true" ng-model="filter.ordinaCrescente">
							<div class="item-content">
								Crescente
							</div>
							<!--<i class="radio-icon ion-checkmark"></i>-->
						</label>
						<label class="item item-radio item--rosa-filtri-sinistra">
							<input type="radio" name="crescenza" ng-value="false" ng-model="filter.ordinaCrescente">
							<div class="item-content">
								Decrescente
							</div>
							<!--<i class="radio-icon ion-checkmark"></i>-->
						</label>
					</div>
				</div>
				<div class="item" ng-click="openModalSquadre()">
					<strong>Filtra i giocatori per squadra:</strong>
					<div class="list list--filtra-giocatori">
						<span ng-if="filter.filtroSquadra.length == 0" >Tutte le squadre</span>
						<span ng-repeat="squadra in filter.filtroSquadra track by $index">{{::squadra}}</span>
					</div>
				</div>
				<div class="item item-text-wrap">
					<div id="range-costo">
						<input type="text" id="range" value="" name="range" />
					</div>
				</div>
			</div>
		</ion-content>
	</ion-modal-view>
</script>

<script id="filtroSquadre.html" type="text/ng-template">
	<ion-modal-view>
		<ion-header-bar>
			<button class="button button--back" ng-click="closeModalSquadre()"></button>
			<h2 class="title">Seleziona squadre</h2>
			<button class="button button--cancel-right" ng-click="pulisciSquadre()"></button>
		</ion-header-bar>
		<ion-content class="seleziona-squadra">
			<div ng-repeat="squadra in ::vm.squadreFiltro track by $index">
				<ion-checkbox checklist-model="filter.filtroSquadra" checklist-value="squadra">{{::squadra}}</ion-checkbox>
			</div>
		</ion-content>
	</ion-modal-view>
</script>
