<ion-view view-title="Calendario" class="view--calendario-gironi">
	<ion-content ng-init="initCalendario()">
		<div class="list card card--calendario-dettaglio" ng-if="vm.loadingOk == true">
			<div class="item item-text-wrap" ng-repeat="giornata in ::vm.giornate track by $index" ng-click="goToDettaglioGiornata(giornata)">
				<div class="row">
			 		<div class="col col-50">
			 			<p>{{::$index +1}} Giornata</p>
			 			<p>{{::giornata.data}}</p>
		 			</div>
		 			<div class="col text-center">
			 			{{::giornata.punti == 0 ? '-' : giornata.punti}}
		 			</div>
		 			<div class="col col-10 text-right">
		 				<button class="button button--next"></button>
		 			</div>
		 		</div>
			</div>
		</div>
		<div class="card card--message" ng-if="vm.loadingOk == false">
			<h2 class="card-title">Calendario</h2>
			<div class="card-content">{{::vm.errorMessage}}</div>
		</div>
	</ion-content>
</ion-view>
