<ion-view view-title="Gestione Lega Amici">

    <ion-nav-bar class="bar-stable" ng-init="datiLegaInit()">
        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button class="button button--save-right" ng-if="::vm.readonly == false" ng-click="confermaLega()">
            </button>
        </ion-nav-buttons>

    </ion-nav-bar>

    <ion-content delegate-handle="legaScroll" class="lega-amici">
        <div class="button-bar">
            <a class="button button--generic" ng-class="{active: vm.visibleCard == 1}" ng-click="setVisibleCard(1)">Opzioni</a>
            <a class="button button--generic" ng-class="{active: vm.visibleCard == 2}" ng-click="setVisibleCard(2)">Bonus</a>
            <a class="button button--generic" ng-class="{active: vm.visibleCard == 3}" ng-click="setVisibleCard(3)">Malus</a>
            <a class="button button--generic" ng-class="{active: vm.visibleCard == 4}" ng-click="setVisibleCard(4)">Amici</a>
        </div>

        <form name="formLega" ng-submit="" novalidate="">

            <div class="card card--news" ng-show="vm.visibleCard == 1" ng-class="{readonly: vm.readonly == true}">
                <h2 class="card-title">Opzioni</h2>
                <div class="card-content">
                    <table>
                        <tr>
                            <td>Nome Campionato</td>
                            <td><input type="text" ng-model="vm.nomeCampionato"></td>
                        </tr>
                        <tr>
                            <td>Numero Squadre</td>
                            <td>
                                <select ng-options="numSquadre for numSquadre in vm.numeriSquadreDisponibili" ng-disabled="vm.bloccaNumeroSquadre"
                                    ng-model="vm.numeroSquadre" ng-change="changeSquadre()" required>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Saldo Iniziale</td>
                            <td><input type="number" required ng-model="vm.saldoIniziale" ng-disabled="vm.bloccaSaldo" 
                                    only-integer></td>
                        </tr>
                        <tr>
                            <td>Data Prima Giornata</td>
                            <td>
                                <select ng-options="item as item.dtPartite for item in vm.giornateDisponibili track by item.idGGCamp"
                                    ng-model="vm.dataPrimaGiornataSelected">
                                    <option value=''>---</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Data Scadenza Asta</td>
                            <td><input type="date" ng-model="vm.dataScadenzaAsta"></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="card card--news" ng-show="vm.visibleCard == 2" ng-class="{readonly: vm.readonly == true}">
                <h2 class="card-title">Bonus</h2>
                <div class="card-content text-primary">
                    <span>I bonus devono avere valori compresi tra 0.1 e 99.9</span>
                    <table>
                        <tr>
                            <td>Gol Portiere</td>
                            <td><input type="number" required limit-decimal up-limit="99.9" down-limit="0.1" ng-model="vm.bonus.golPortiere" 
                                        min="0.1" max="99.9" step="0.1"></td>
                        </tr>
                        <tr>
                            <td>Gol Difensore</td>
                            <td><input type="number" required limit-decimal up-limit="99.9" down-limit="0.1" ng-model="vm.bonus.golDifensore" 
                                        min="0.1" max="99.9" step="0.1"></td>
                        </tr>
                        <tr>
                            <td>Gol Centrocampista</td>
                            <td><input type="number" required limit-decimal up-limit="99.9" down-limit="0.1" ng-model="vm.bonus.golCentrocampista" 
                                        min="0.1" max="99.9" step="0.1"></td>
                        </tr>
                        <tr>
                            <td>Gol Attaccante</td>
                            <td><input type="number" required limit-decimal up-limit="99.9" down-limit="0.1" ng-model="vm.bonus.golAttaccante" 
                                        min="0.1" max="99.9" step="0.1"></td>
                        </tr>
                        <tr>
                            <td>Rigore Segnato</td>
                            <td><input type="number" required limit-decimal up-limit="99.9" down-limit="0.1" ng-model="vm.bonus.rigoreSegnato" 
                                        min="0.1" max="99.9" step="0.1"></td>
                        </tr>
                        <tr>
                            <td>Rigore Parato</td>
                            <td><input type="number" required limit-decimal up-limit="99.9" down-limit="0.1" ng-model="vm.bonus.rigoreParato" 
                                        min="0.1" max="99.9" step="0.1"></td>
                        </tr>
                        <tr>
                            <td>Zero Gol</td>
                            <td><input type="number" required limit-decimal up-limit="99.9" down-limit="0.1" ng-model="vm.bonus.zeroGol" 
                                        min="0.1" max="99.9" step="0.1"></td>
                        </tr>
                        <tr>
                            <td>Cambio Vincente</td>
                            <td><input type="number" required limit-decimal up-limit="99.9" down-limit="0.1" ng-model="vm.bonus.cambioVincente" ></td>
                        </tr>
                    </table>
                </div>
            </div>

             <div class="card card--news" ng-show="vm.visibleCard == 3" ng-class="{readonly: vm.readonly == true}">
                <h2 class="card-title">Malus</h2>
                <div class="card-content text-primary">
                    <span>I malus devono avere valori compresi tra -0.1 e -99.9</span>
                    <table>
                        <tr>
                            <td>Gol subìto</td>
                            <td><input type="number" required limit-decimal up-limit="-0.1" down-limit="-99.9" ng-model="vm.malus.golSubito" 
                                        min="-99.9" max="-0.1" step="0.1"></tr>
                        </tr>
                        <tr>
                            <td>Autorete</td>
                            <td><input type="number" required limit-decimal up-limit="-0.1" down-limit="-99.9" ng-model="vm.malus.autoRete" 
                                        min="-99.9" max="-0.1" step="0.1"></tr>
                        </tr>
                        <tr>
                            <td>Rigore Sbagliato</td>
                            <td><input type="number" required limit-decimal up-limit="-0.1" down-limit="-99.9" ng-model="vm.malus.rigoreSbagliato" 
                                        min="-99.9" max="-0.1" step="0.1"></tr>
                        </tr>
                        <tr>
                            <td>Ammonizione</td>
                            <td><input type="number" required limit-decimal up-limit="-0.1" down-limit="-99.9" ng-model="vm.malus.ammonizione" 
                                        min="-99.9" max="-0.1" step="0.1"></tr>
                        </tr>
                        <tr>
                            <td>Espulsione</td>
                            <td><input type="number" required limit-decimal up-limit="-0.1" down-limit="-99.9" ng-model="vm.malus.espulsione" 
                                        min="-99.9" max="-0.1" step="0.1"></tr>
                        </tr>
                        <tr>
                            <td>Cambio Perdente</td>
                            <td><input type="number" required limit-decimal up-limit="-0.1" down-limit="-99.9" ng-model="vm.malus.cambioPerdente" ></tr>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="card card--news amici" ng-show="vm.visibleCard == 4" ng-class="{readonly: vm.readonly == true}">
                <h2 class="card-title">Amici</h2>
                <div class="card-content text-primary">
                    <table>
                        <tr class="item row" ng-repeat="amico in vm.amici track by $index">
                            <td>{{$index + 1 }}</td>
                            <td><input type="email" ng-model="amico.email" ng-disabled="amico.hasBids == true" ng-change="modificaAmico(amico)"></td>
                        </tr>
                    </table>
                </div>
            </div>

        </form>

    </ion-content>
</ion-view>
