<ion-view view-title="Formazione">

    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-walk" ng-click="popPanchina($event)">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>

    <ion-content ng-init="init()" class="formazione" ng-click="openRosa('', $index, $event)">
        <div class="row">
            <div class="col col-33 modulo">
                <a class="button button--modulo" ng-click="popTattiche($event)" ng-disabled="vm.tipoBlocco != 'nessuno'">
                    {{vm.tatticaSelected.DESCRIZIONE}}
                </a>
            </div>
            <div class="col col-33" ng-repeat="portiere in vm.portieri track by $index">
                <a class="icon" ng-click="openRosa('P', $index, $event) || setPosition(vm.portieriPosition, $index, $event)"
                    ng-class="{active: vm.portieriPosition.value == $index, 'icon--portiere': !!portiere, 'icon--portiere-vuoto': !portiere}">
                        {{firstLetter(portiere.NOME) + portiere.COGNOME}}
                </a>
            </div>
        </div>
        <ion-list ng-show="vm.rosaShown.ruolo == 'P'">
            <ion-item class="item-accordion icon--portiere" ng-click="setGiocatore(vm.portieri, portiere, vm.portieriPosition, $event)"
                ng-repeat="portiere in vm.portieriRosa track by portiere.ID_GIOCATORE"
                ng-class="{'giocatore-selezionato': !portiere.inFormazione}">
                    {{firstLetter(portiere.NOME) + portiere.COGNOME}}
            </ion-item>
        </ion-list>

        <div class="row">
            <div class="col" ng-repeat="difensore in vm.difensori track by $index">
                <a class="icon" ng-click="openRosa('D', $index, $event) || setPosition(vm.difensoriPosition, $index, $event)"
                    ng-class="{active: vm.difensoriPosition.value == $index, 'icon--difensore': !!difensore, 'icon--difensore-vuoto': !difensore}">
                    {{firstLetter(difensore.NOME) + difensore.COGNOME}}
                </a>
            </div>
        </div>
        <ion-list ng-show="vm.rosaShown.ruolo == 'D'">
            <ion-item class="item-accordion icon--difensore" ng-click="setGiocatore(vm.difensori, difensore, vm.difensoriPosition, $event)"
                    ng-repeat="difensore in vm.difensoriRosa track by difensore.ID_GIOCATORE"
                ng-class="{'giocatore-selezionato': !difensore.inFormazione}">
                    {{firstLetter(difensore.NOME) + difensore.COGNOME}}
            </ion-item>
        </ion-list>

        <div class="row">
            <div class="col" ng-repeat="centrocampista in vm.centrocampisti track by $index">
                <a class="icon" ng-click="openRosa('C', $index, $event) || setPosition(vm.centrocampistiPosition, $index, $event)"
                    ng-class="{active: vm.centrocampistiPosition.value == $index, 'icon--centrocampista': !!centrocampista, 'icon--centrocampista-vuoto': !centrocampista}">
                        {{firstLetter(centrocampista.NOME) + centrocampista.COGNOME}}
                </a>
            </div>
        </div>
        <ion-list ng-show="vm.rosaShown.ruolo == 'C'">
            <ion-item class="item-accordion icon--centrocampista" ng-click="setGiocatore(vm.centrocampisti, centrocampista, vm.centrocampistiPosition, $event)"
                    ng-repeat="centrocampista in vm.centrocampistiRosa track by centrocampista.ID_GIOCATORE"
                ng-class="{'giocatore-selezionato': !centrocampista.inFormazione}">
                    {{firstLetter(centrocampista.NOME) + centrocampista.COGNOME}}
            </ion-item>
        </ion-list>

        <ion-list ng-show="vm.rosaShown.ruolo == 'A'">
            <ion-item class="item-accordion icon--attaccante" ng-click="setGiocatore(vm.attaccanti, attaccante, vm.attaccantiPosition, $event)"
                    ng-repeat="attaccante in vm.attaccantiRosa track by attaccante.ID_GIOCATORE"
                ng-class="{'giocatore-selezionato': !attaccante.inFormazione}">
                    {{firstLetter(attaccante.NOME) + attaccante.COGNOME}}
            </ion-item>
        </ion-list>
        <div class="row">
            <div class="col" ng-repeat="attaccante in vm.attaccanti track by $index">
                <a class="icon" ng-click="openRosa('A', $index, $event) || setPosition(vm.attaccantiPosition, $index, $event)"
                    ng-class="{active: vm.attaccantiPosition.value == $index, 'icon--attaccante': !!attaccante, 'icon--attaccante-vuoto': !attaccante}">
                        {{firstLetter(attaccante.NOME) + attaccante.COGNOME}}
                </a>
            </div>
        </div>

        <ion-list ng-if="misterCalcioCup" ng-show="vm.rosaShown.ruolo == 'AL'">
            <ion-item class="item-accordion icon--allenatore" ng-click="setGiocatore(vm.allenatori, allenatore, vm.allenatoriPosition, $event)"
                ng-repeat="allenatore in vm.allenatoriRosa track by allenatore.ID_GIOCATORE"
                ng-class="{'giocatore-selezionato': !allenatore.inFormazione}">
                    {{firstLetter(allenatore.NOME) + allenatore.COGNOME}}
            </ion-item>
        </ion-list>
        <div class="row" ng-if="misterCalcioCup">
            <div class="col" ng-repeat="allenatore in vm.allenatori track by $index">
                <a class="icon" ng-click="openRosa('AL', $index, $event) || setPosition(vm.allenatoriPosition, $index, $event)"
                    ng-class="{active: vm.allenatoriPosition.value == $index, 'icon--allenatore': !!allenatore, 'icon--allenatore-vuoto': !allenatore}">
                        {{firstLetter(allenatore.NOME) + allenatore.COGNOME}}
                </a>
            </div>
        </div>

        <div class="row last">
            <button class="button button--annulla" ng-click="deleteFormazione()" ng-disabled="vm.tipoBlocco != 'nessuno'"></button>
            <button class="button button--salva" ng-click="saveFormazione()" ng-disabled="vm.tipoBlocco == 'totale'"></button>
        </div>
    </ion-content>


<script id="popoverTattiche.html" type="text/ng-template">
    <ion-popover-view class="popover--modulo">
        <ion-content>
            <div class="list">
                <a class="item" ng-repeat="tattica in vm.tattiche" 
                    ng-click="selectTattica(tattica) || popoverTattiche.hide()">
                    <p>{{tattica.DESCRIZIONE}}</p>
                </a>
            </div>
        </ion-content>
    </ion-popover-view>
</script>

<script id="popoverPanchina.html" type="text/ng-template">
    <ion-popover-view class="popover--panchina">
        <div class="list">
            <a class="item" ng-click="openRosaPanchina('P', vm.portieriPanchinaPosition, $index, $event)"
                ng-repeat="portierePanchina in vm.portieriPanchina track by $index"
                ng-class="{active: vm.portieriPanchinaPosition.value == $index, 'icon--portiere': !!portierePanchina, 'icon--portiere-vuoto': !portierePanchina}">
                {{firstLetter(portierePanchina.NOME) + portierePanchina.COGNOME}}
            </a>
            <a class="item" ng-click="openRosaPanchina('D', vm.difensoriPanchinaPosition, $index, $event)"
                ng-repeat="difensorePanchina in vm.difensoriPanchina track by $index"
                ng-class="{active: vm.difensoriPanchinaPosition.value == $index, 'icon--difensore': !!difensorePanchina, 'icon--difensore-vuoto': !difensorePanchina}">
                {{firstLetter(difensorePanchina.NOME) + difensorePanchina.COGNOME}}
            </a>
            <a class="item" ng-click="openRosaPanchina('C', vm.centrocampistiPanchinaPosition, $index, $event)" 
                ng-repeat="centrocampistaPanchina in vm.centrocampistiPanchina track by $index"
                ng-class="{active: vm.centrocampistiPanchinaPosition.value == $index, 'icon--centrocampista': !!centrocampistaPanchina, 'icon--centrocampista-vuoto': !centrocampistaPanchina}">
                {{firstLetter(centrocampistaPanchina.NOME) + centrocampistaPanchina.COGNOME}}
            </a>
            <a class="item" ng-click="openRosaPanchina('A', vm.attaccantiPanchinaPosition, $index, $event)"
                ng-repeat="attaccantePanchina in vm.attaccantiPanchina track by $index"
                ng-class="{active: vm.attaccantiPanchinaPosition.value == $index, 'icon--attaccante': !!attaccantePanchina, 'icon--attaccante-vuoto': !attaccantePanchina}">
                {{firstLetter(attaccantePanchina.NOME) + attaccantePanchina.COGNOME}}
            </a>
            <a class="item" ng-click="openRosaPanchina('AL', vm.allenatoriPanchinaPosition, $index, $event)"
                ng-repeat="allenatorePanchina in vm.allenatoriPanchina track by $index"
                ng-class="{active: vm.allenatoriPanchinaPosition.value == $index, 'icon--allenatore': !!allenatorePanchina, 'icon--allenatore-vuoto': !allenatorePanchina}"
                ng-if="misterCalcioCup">
                {{firstLetter(allenatorePanchina.NOME) + allenatorePanchina.COGNOME}}
            </a>
        </div>
    </ion-popover-view>
</script>

<script id="popoverPanchinaRosa.html" type="text/ng-template">
    <ion-popover-view class="popover--panchina-scegli-giocatore" style="height: {{(54 * (ruoloGiocatoreSelected() / 4)) + 'px'}};">
            <ion-list ng-if="vm.rosaPanchinaShown == 'P'">
                <ion-item class="item icon--portiere" ng-click="setGiocatore(vm.portieriPanchina, giocatore, vm.portieriPanchinaPosition, $event)"
                    ng-repeat="giocatore in vm.portieriRosa track by giocatore.ID_GIOCATORE" 
                    ng-class="{'giocatore-selezionato': !giocatore.inFormazione}">
                    {{firstLetter(giocatore.NOME) + giocatore.COGNOME}}
                </ion-item>
            </ion-list>
            <ion-list ng-if="vm.rosaPanchinaShown == 'D'">
                <ion-item class="item icon--difensore" ng-click="setGiocatore(vm.difensoriPanchina, giocatore, vm.difensoriPanchinaPosition, $event)"
                    ng-repeat="giocatore in vm.difensoriRosa track by giocatore.ID_GIOCATORE" 
                    ng-class="{'giocatore-selezionato': !giocatore.inFormazione}">
                    {{firstLetter(giocatore.NOME) + giocatore.COGNOME}}
                </ion-item>
            </ion-list>
            <ion-list ng-if="vm.rosaPanchinaShown == 'C'">
                <ion-item class="item icon--centrocampista" ng-click="setGiocatore(vm.centrocampistiPanchina, giocatore, vm.centrocampistiPanchinaPosition, $event)"
                    ng-repeat="giocatore in vm.centrocampistiRosa track by giocatore.ID_GIOCATORE" 
                    ng-class="{'giocatore-selezionato': !giocatore.inFormazione}">
                    {{firstLetter(giocatore.NOME) + giocatore.COGNOME}}
                </ion-item>
            </ion-list>
            <ion-list ng-if="vm.rosaPanchinaShown == 'A'">
                <ion-item class="item icon--attaccante" ng-click="setGiocatore(vm.attaccantiPanchina, giocatore, vm.attaccantiPanchinaPosition, $event)"
                    ng-repeat="giocatore in vm.attaccantiRosa track by giocatore.ID_GIOCATORE" 
                    ng-class="{'giocatore-selezionato': !giocatore.inFormazione}">
                    {{firstLetter(giocatore.NOME) + giocatore.COGNOME}}
                </ion-item>
            </ion-list>
            <ion-list ng-if="vm.rosaPanchinaShown == 'AL'">
                <ion-item class="item icon--allenatore" ng-click="setGiocatore(vm.allenatoriPanchina, giocatore, vm.allenatoriPanchinaPosition, $event)"
                    ng-repeat="giocatore in vm.allenatoriRosa track by giocatore.ID_GIOCATORE" 
                    ng-class="{'giocatore-selezionato': !giocatore.inFormazione}">
                    {{firstLetter(giocatore.NOME) + giocatore.COGNOME}}
                </ion-item>
            </ion-list>
    </ion-popover-view>
</script>

</ion-view>
