<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button--menu" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable" ng-click="openAccordion()">
            <img ng-src="http://{{squadraSelected.url_avatar_small}}">
            <h3>{{squadraSelected.nome_campionato}}</h3>
            <h2>{{squadraSelected.nome}}</h2>
        </ion-header-bar>
             <div ng-show="accordionMenu" class="team-select">
                <h2 ng-show="accordionMenu">
                    Leghe di amici
                </h2>
                <a class="item item-accordion item item-icon-left" ng-show="accordionMenu" ng-click="goToModificaProfilo()" menu-close>
                    <i class="icon ion-person"></i>
                    {{user.email}}
                </a>
                <a class="item item-accordion" ng-show="accordionMenu"
                    ng-repeat="squadra in squadreTorneoGironi" ng-click="selectSquadra(squadra, 2)" menu-close>
                    <img ng-src="http://{{squadra.url_avatar_small}}">
                    {{squadra.nome}}
                    <i class="icon icon--lega" ng-if="squadra.is_presidente_lega"></i>
                </a>
                <a class="item item--lega" menu-close ng-click="creaLegaAmici()" ng-if="user.presidente == false">
                    Crea nuova lega
                </a>
                <a class="item item-accordion item item-icon-left" ng-show="accordionMenu" ng-click="logout()">
                    <i class="icon icon--logout"></i>
                    Logout
                </a>
            </div>
            <div class="list">
                <a class="item item--home" menu-close ng-click="goToState('app.home')">
                    Home
                </a>
                <a class="item item--rosa" menu-close ng-click="goToState('app.gestioneRosa')">
                    Rosa
                </a>
                <a class="item item--formazione" menu-close ng-click="goToState('app.formazione')">
                    Formazione
                </a>
                <a class="item item--calendario" menu-close ng-click="goToState('app.calendario')">
                    Calendario
                </a>
                <a class="item item--classifica" menu-close ng-click="goToState('app.classificheGironi')">
                    Classifica
                </a>
                <a class="item item--opzioni" menu-close ng-click="goToState('app.opzioniSquadra')">
                    Opzioni squadra
                <a class="item item--lega" menu-close ng-click="goToState('app.datiLega')">
                    {{squadraSelected.is_presidente_lega == true ? 'Gestisci lega' : 'Visualizza lega'}}
                </a>
                <a class="item item--edizione-digitale" menu-close ng-click="openEdizioneDigitale()">
                    Edizione digitale
                </a>
                <a class="item item--regolamento" menu-close ng-click="openRegolamento()">
                    Regolamento
                </a>
            </div>
    </ion-side-menu>
</ion-side-menus>
