<ion-view view-title="Registrazione" class="view--registrazione">
    <ion-header-bar>
        <h1 class="title topbar-logo">Registrati</h1>
        <div class="buttons-left">
            <button class="button button--back" ng-click="goBack()"><i class="icon ion-chevron-left"></i></button>
        </div>
    </ion-header-bar>

    <ion-content ng-init="registrazioneInit()" class="view--registrazione">
        <form name="formRegistrazione" ng-submit="formRegistrazione.$valid && registrazione()" novalidate="">
            <h2>REGISTRAZIONE TORNEO {{vm.modoGioco == 3 ? 'CLASSICO' : 'A GIRONI'}}</h2>
            <label class="item item-input">
                <input type="text" name="nome" placeholder="nome" ng-model="vm.nome" required />
            </label>
            <div class="form-errors"  
               ng-show="formRegistrazione.nome.$error && formRegistrazione.$submitted"
               ng-messages="formRegistrazione.nome.$error"
               ng-messages-include="form-errors.html">
            </div>  
            <label class="item item-input">
                <input type="text" name="cognome" placeholder="cognome" ng-model="vm.cognome" required />
            </label>
            <div class="form-errors"  
               ng-show="formRegistrazione.cognome.$error && formRegistrazione.$submitted"
               ng-messages="formRegistrazione.cognome.$error"
               ng-messages-include="form-errors.html">
            </div>
            <label class="item item-input">
                <div class="row">
                    <span class="col col-50">data di nascita</span>
                    <span class="col col-50"><input type="date" name="dataNascita" ng-model="vm.dataNascita" eta-minima /></span>
                </div>
            </label>
            <div class="form-errors"  
               ng-show="formRegistrazione.dataNascita.$error && formRegistrazione.$submitted"
               ng-messages="formRegistrazione.dataNascita.$error"
               ng-messages-include="form-errors.html">
            </div>  
            <div class="descrizione"></div>
            <label class="item item-input">
                <input type="text" name="email" placeholder="email" ng-model="vm.email" required />
            </label>
            <div class="form-errors"  
               ng-show="formRegistrazione.email.$error && formRegistrazione.$submitted"
               ng-messages="formRegistrazione.email.$error"
               ng-messages-include="form-errors.html">
            </div>  
            <label class="item item-input">
                <input type="text" name="ripeti" placeholder="ripeti" ng-model="vm.ripetiMail" ripeti-mail mail-check="vm.email">
            </label>
            <div class="form-errors"  
               ng-show="formRegistrazione.ripeti.$error && formRegistrazione.$submitted"
               ng-messages="formRegistrazione.ripeti.$error"
               ng-messages-include="form-errors.html">
            </div>  
            <label class="item item-input">
                <input type="text" name="nickname" placeholder="nickname" ng-model="vm.nickname" required />
            </label>
            <div class="form-errors"  
               ng-show="formRegistrazione.nickname.$error && formRegistrazione.$submitted"
               ng-messages="formRegistrazione.nickname.$error"
               ng-messages-include="form-errors.html">
            </div>  
            <label class="item item-input">
                <input type="password" name="password" placeholder="password" 
                    ng-model="vm.password" numeric-password ng-minlength="6">
            </label>
            <div class="form-errors"  
               ng-show="formRegistrazione.password.$error && formRegistrazione.$submitted"
               ng-messages="formRegistrazione.password.$error"
               ng-messages-include="form-errors.html">
            </div>
            <div class="descrizione">
                La password deve essere almeno di 6 caratteri e contenere sia lettere che numeri
            </div>
            <h2>REGOLAMENTO DI GIOCO</h2>
            <a class="item item-icon-right" href="" ng-click="openRegolamento()">
                <strong>Visualizza regolamento</strong>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <div class="item item-toggle">
                Accetto
                <label class="toggle">
                       <input type="checkbox" name="regolamentoGioco" ng-model="vm.accettaRegolamentoDiGioco" ng-true-value="1" ng-false-value="0" required />
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="form-errors"  
               ng-show="formRegistrazione.regolamentoGioco.$error && formRegistrazione.$submitted"
               ng-messages="formRegistrazione.regolamentoGioco.$error"
               ng-messages-include="form-errors.html">
            </div>
            <h2>CONDIZIONI DI SERVIZIO</h2>
            <a class="item item-icon-right" ng-click="openServizioEditore()">
                <strong>Condizioni di servizio editore</strong>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <div class="item item-toggle">
                Accetto
                <label class="toggle">
                       <input type="checkbox" name="condizioniEditore" ng-model="vm.accettaCondizioniEditore" ng-true-value="1" ng-false-value="0" required />
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="form-errors"  
               ng-show="formRegistrazione.condizioniEditore.$error && formRegistrazione.$submitted"
               ng-messages="formRegistrazione.condizioniEditore.$error"
               ng-messages-include="form-errors.html">
            </div>
            <a class="item item-icon-right" ng-click="openServizioGioco()">
                <strong>Condizioni di servizio gioco</strong>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <div class="item item-toggle">
                Accetto
                <label class="toggle">
                       <input type="checkbox" name="condizioniGioco" ng-model="vm.accettaCondizioniGioco" ng-true-value="1" ng-false-value="0" required />
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="form-errors"  
               ng-show="formRegistrazione.condizioniGioco.$error && formRegistrazione.$submitted"
               ng-messages="formRegistrazione.condizioniGioco.$error"
               ng-messages-include="form-errors.html">
            </div>
            <h2>CONSENSO PRIVACY</h2>
            <a class="item item-icon-right" ng-click="openInformativaPrivacy()">
                <strong>Visualizza informativa privacy</strong>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <div class="descrizione">
                <small>Consenso trattamento dati Ex art. 13 e 23 del d. lgs n. 196/2003.</small>
            </div>
            <div class="item item-toggle">
                Accetto
                <label class="toggle">
                       <input type="checkbox" name="privacy1" ng-model="vm.accettaPrivacy1" ng-true-value="1" ng-false-value="0" required />
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="form-errors"  
               ng-show="formRegistrazione.privacy1.$error && formRegistrazione.$submitted"
               ng-messages="formRegistrazione.privacy1.$error"
               ng-messages-include="form-errors.html">
            </div>
            <div class="descrizione">
                <small>Con riferimento al trattamento dei miei dati personali da parte dei Titolari e delle altre società del gruppo per finalità promozionali, pubblicitarie e di marketing, nonché per analisi statistiche anonime come meglio specificate nell'informativa</small>
            </div>
            <div class="item item-toggle">
                Accetto
                <label class="toggle">
                       <input type="checkbox" ng-model="vm.accettaPrivacy2" ng-true-value="1" ng-false-value="0">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="descrizione">
                <small> Con riferimento al trattamento dei miei dati personali da parte di società terze per finalità promozionali, pubblicitarie e di marketing, nonchè per analisi statistiche anonime come meglio specificate nell'informativa</small>
            </div>
            <div class="item item-toggle">
                Accetto
                <label class="toggle">
                       <input type="checkbox" ng-model="vm.accettaPrivacy3" ng-true-value="1" ng-false-value="0">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="descrizione">
                <button class="button button--registrati" type="submit">REGISTRATI</button>
            </div>
        </form>
    </ion-content>
</ion-view>

<script id="form-errors.html" type="text/ng-template">  
  <div class="form-error" ng-message="required">Campo obbligatorio</div>
  <div class="form-error" ng-message="minlength">Password troppo corta</div>
  <div class="form-error" ng-message="etaMinima">Devi essere maggiorenne</div>
  <div class="form-error" ng-message="password">Password non valida</div>
  <div class="form-error" ng-message="ripetiMail">Controllare email</div>
</script>

<script id="regolamentoModal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <button class="button button-icon ion-close" ng-click="closeModalRegolamento()"></button>
            <h2 class="title">Regolamento</h2>
        </ion-header-bar>
        <ion-content>
            Regolamento embeddato?
        </ion-content>
    </ion-modal-view>
</script>
<!--
<script id="servizioEditoreModal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <button class="button button-icon ion-close" ng-click="closeModalServizioEditore()"></button>
            <h2 class="title">Condizioni di servizio editore</h2>
        </ion-header-bar>
        <ion-content>
            Condizioni di servizio embeddato?
        </ion-content>
    </ion-modal-view>
</script>

<script id="servizioGiocoModal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <button class="button button-icon ion-close" ng-click="closeModalServizioGioco()"></button>
            <h2 class="title">Condizioni di servizio gioco</h2>
        </ion-header-bar>
        <ion-content>
            Condizioni di servizio embeddato?
        </ion-content>
    </ion-modal-view>
</script>

<script id="informativaPrivacyModal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <button class="button button-icon ion-close" ng-click="closeModalInformativaPrivacy()"></button>
            <h2 class="title">Informativa privacy</h2>
        </ion-header-bar>
        <ion-content>
            Informativa privacy embeddato?
        </ion-content>
    </ion-modal-view>
</script>
-->