<ion-view view-title="Scegli stemma">
	<ion-content ng-init="scegliStemmaInit()" class="scegli-stemma">
		<ion-list can-swipe="false" type="card">
			<ion-item href="" ng-click="selezionaStemma(stemma)" ng-repeat="stemma in vm.stemmi track by $index">
				<img ng-src="http://{{::stemma.nm_image}}">
	 			{{::stemma.ds_avatar}}
		 	</ion-item>
		</ion-list>
	</ion-content>
</ion-view>